
.container2{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    height: 150vh;
}

#alarm-image{
    visibility: hidden;
    height: 30vh;
    width: 30vw;
    position: fixed;
    z-index: 5;
    top: 35vh;
    left: 35vw;
    cursor: pointer;
    animation: rotates 1.2s linear infinite;
    transition: 0.2s;
}

@keyframes rotates{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-20deg) scale(1.05);
    }
    50%{
        transform: rotate(0deg) scale(1.1);
    }
    75%{
        transform: rotate(20deg) scale(1.05);
    }
    100%{
        transform: rotate(0deg);
    }
}

/* @keyframes moves {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateX(-30vw);
    }
    40% {
      transform: translateY(30vh);
    }
    60% {
      transform: translateX(40vw);
    }
    80% {
      transform: translateY(-30vh);
    }
    100% {
      transform: translateY(0);
    }
  } */


.alarm-sections{
    display: flex;
    justify-content: space-between;
}

.alarm-time{
    width: 15vw;
    height: 5vh;
    outline: none;
    border-radius: 5px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    cursor: pointer;
}

.alarm-title{
    font-weight:600;
}

.default-times{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2vh 8vw;
}

.default-time{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.default-time::before{
    margin-right: 0.4vw;
    content: "";
    height: 15px;
    width: 15px;
    background-image: url(images/bell-ring-svgrepo-com.svg);
    background-size: cover;
    display: inline-block;
}

.default-time:hover{
    text-decoration: underline;
}

.alarm-sounds{
    margin-top: 2vh;
}

.alarm-sound-title{
    font-style: italic;
}

.alarm-musics{
    width: 100%;
    height: 5vh;
    outline: none;
    border-radius: 5px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    cursor: pointer;
}

.alarm-textarea{
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: 1px solid grey;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.alarm-name{
    background-color: white;
    height: 3vh;
    width: 37vw;
    outline: none;
    font-size: small;
}

.set-alarm{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: black;
    color: white;
    margin-top: 3vh;
    border: 1px solid black;
    transition: 0.25s;
}

.set-alarm:hover{
    background-color: white;
    color: black;
}

.alarm-table{
    visibility: hidden;
    margin-top: 3vh;
    width: 100%;
    border-collapse: collapse;
}

td{
    max-width: 5vw;
    overflow:auto;
}

td::-webkit-scrollbar{
    display: none;
}
  
tr {
    border-bottom: 1px solid rgb(201, 201, 201);
}
  
tr:last-child {
    border: 0;
}

table .head{
    font-weight: bold;
}

.table-buttons{
    visibility: hidden;
    display: flex;
    justify-content: space-evenly;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 5vh;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}

.button-primary{
    background-color: black;
    color: white;
}

.button-primary:hover{
    background-color: white;
    color: black;
    transform: scale(1.04);
}

.button-secondary:hover{
    background-color: black;
    color: white;
    transform: scale(1.04);
}
